<form id="regForm">

  <h1>Register:</h1>

  <!-- One "tab" for each step in the form: -->
  <div *ngIf="currentTab=='0'">Name:
    <p><input placeholder="First name..."></p>
    <p><input placeholder="Last name..."></p>
  </div>

  <div *ngIf="currentTab=='1'">Contact Info:
    <p><input placeholder="E-mail..."></p>
    <p><input placeholder="Phone..."></p>
  </div>

  <div *ngIf="currentTab=='2'">Birthday:
    <p><input placeholder="dd"></p>
    <p><input placeholder="mm"></p>
    <p><input placeholder="yyyy"></p>
  </div>

  <div *ngIf="currentTab=='3'">Login Info:
    <p><input placeholder="Username..."></p>
    <p><input placeholder="Password..."></p>
  </div>

  <div style="overflow:auto;">
    <div style="float:right;">
      <button class="btn-secondary" type="button" id="prevBtn" [disabled]="currentTab == '0'" (click)="nextPrev(-1)">Previous</button>
      <button class="btn-primary" type="button" id="nextBtn" [disabled]="currentTab == '3'" (click)="nextPrev(1)">Next</button>
    </div>0
  </div>

  <!-- Circles which indicates the steps of the form: -->
  <div style="text-align:center;margin-top:40px;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>

</form>